config MSM_NPU

	tristate "QTI MSM Neural Processing Unit support"
	depends on ARCH_QCOM
	---help---
	  Enable support for Neural Processing Unit
	  for specific QTI chipsets.
	  This module serves as the common driver
	  for npu which provides acceleration for neural
	  network processing.

config MSM_NPU_DEBUG_FS

	bool "debugging framework of QTI MSM Neural Processing Unit"
	depends on MSM_NPU || DEBUG_FS
	default n
